@{
    ViewBag.Title = "Index";
}

<h2>Virtual Class</h2>
<div class="float-left">
    <section>
                    <nav>
                        <ul id ="sub_menu">
                            
                            <li>@Html.ActionLink("Show List of Classes enrolled", "Index", "VirtualClass")</li>
                            <li>@Html.ActionLink("Search for Classes", "Create", "VirtualClass")</li>
                        </ul>
                    </nav>

    </section>
    
        <section>
        list of classes
        </section>
    </div>
