@{
    ViewBag.Title = "SearchCourse";
}

<div class="float-left">
    <section>
                    <nav>
                        <ul id ="sub_menu">
                            
                            <li>@Html.ActionLink("Show List of Classes enrolled", "CourseList", "VirtualClass")</li>
                            <li>@Html.ActionLink("Search for Classes", "SearchCourse", "VirtualClass")</li>
                        </ul>
                    </nav>

    </section>
    
        
<section id ="searchc">
    <H4>Search for Classes</H4>
        <input id="Text1" type="text" /> <input id="Submit1" type="submit" value="submit" />
        </section>
    </div>

