@{
    ViewBag.Title = "Index";
}

    <div>
        <section>
                    <nav>
                        <ul id ="sub_menu">                            
                            <li>@Html.subMenuLink("Share a Note", "ShareNote", "NotesSharing", "active", true)</li>
                            <li>@Html.subMenuLink("View My shared Notes", "ViewMyNotes", "NotesSharing", "active", true)</li>
                        </ul>
                    </nav>
        </section>
    </div>